{%extends 'base.html'%}
{%load static%}


{%block content%}
<div class="inner-page-banner-section mb-70">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="inner-page-banner-wrapper" style="background-image: url(/static/assets/image/Background-7.png);">
    <div class="banner-content">
    <h1>About Us</h1>
    <p>Feel free to choose or modify any of these titles to match the specific focus and tone of your food blog. Whether you're sharing recipes,</p>
    <ul class="breadcrumb-list">
    <li><a href="/">Home</a></li>
    <li>About Us</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="about-section mb-120">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-8">
    <div class="welcome-area text-center">
    <span>Welcome to</span>
    <p> QuirkPress is a lively blog that celebrates the unconventional with quirky trends, unique lifestyle tips, and offbeat stories.</p>
    </div>
    <div class="about-content">
    <p>We love hearing from our readers! If you have any questions, comments, or suggestions, please don't hesitate to <a href="/">Contact Us.</a> You can also connect with us on [social media platforms] to stay updated on the latest news, articles, and announcements from Zorik.</p>
    <p>Remember to customize this excerpt to reflect the specific focus, mission, and team behind your blog website. This will help provide visitors with a clear understanding of what your blog is about
    and why they should engage with it.</p>
    <p>And remember to customize this template to fit your specific blog site and its practices. Additionally, consider consulting with legal professionals to ensure compliance with relevant laws and regulations.</p>
    </div>
    <a href="{%url 'blog:post-list'%}" class="start-reading-btn">Start To Reading <span><i class="bi bi-chevron-right"></i></span></a>
    </div>
    </div>
    </div>
    </div>
    
    

    
{%endblock content%}